---

name: Build & Publish Docker Images

on:
  push:
    branches: [ "master", "feat/*", "hotfix/*" ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "master", "feat/*", "hotfix/*" ]

env:
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
    strategy:
      matrix:
        service:
          - name: frontend
            path: apps/frontend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.service.name }}

      - name: Build Docker Image
        id: build
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.service.name }}
          file: ./${{ matrix.service.name }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
